---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <title>{{ title }}</title> 
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!---<link rel="stylesheet" href="/assets/css/prism-vsc-dark-plus.css"/>  -->
    <!---<link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/assets/css/prism-vs.css"/>
    <link rel="stylesheet" href="/assets/css/clean-blog.css"/>
    
  </head>
  <body>


<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Michaelangelo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {%- for entry in navPages %}
      <li class="nav-item" >
        <a {% if entry.url == page.url %} class="nav-link active"{% else %} class = "nav-link" {% endif %}
        href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>

      <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item"><a class="nav-link" href="#">Hiking & Photograpy</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Engineering</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Computer Graphics</a></li>       
        <li class="nav-item"><a class="nav-link" href="#">Thoughts</a></li>
        
        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>


      </ul>-->


      <!--<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>

<div
  class="bg-image p-5 text-center shadow-1-strong mb-2 text-white"
  {% if background_img %}
  style="background-image: url('{{ background_img }}'); background-position: center; background-size:cover;"
  {% else %}
  style="background-image: url('/assets/images/crestone.jpg'); background-position: center; background-size:cover;"
{% endif %}
>
<div style="padding: 100px 0 130px ">
  <h1 class="mb-2 h1" >{{ title }}</h1>
  <p>
    {{ description }}
  </p>
</div>
</div>

     <div class="container-md">
        <div class="row justify-content-center">
            
            <div class="col-md-11 ">
                 {{ content | safe }}
            </div>
            
        </div>
    </div>

<!--<div class="b-example-divider"></div>-->

<div class="container">
  <footer class="flex-wrap border-top">
      <p class="text-center text-muted">© 2023 Michael Langford. Built with 11ty.</p>
  </footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="/assets/js/index.js"></script>
  </body>
</html>