---
layout: slideshow
title: ECE477 Drone
description: Drone Presentation
---

<div class="carousel-item active">

<h1 class="text-center">ECE477 Drone</h1>
<h2 class="text-center">Michael Langford</h2>

</div>

{% assign navPages = collections.all | eleventyNavigation: "drone_presentation" %}

{%- for post in collections.all -%}
{%- for navPage in navPages -%}
{%- if navPage.url == post.url -%}


{{ post.content  }}

<!--<img src={{post.url | append: post.data.background_img}} class="card-img-bottom" alt="..."> -->

{%- endif -%}
{%- endfor -%}
{%- endfor -%}